<a href="https://colab.research.google.com/github/luc30/lokesh-/blob/master/Dataframe_common_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

- It can handle 2D data / Tabular Data in any format

- Can handle data with large size

- Intuitive syntax

- detailed options

In [3]:
import pandas as pd #99%

In [2]:
# load data
df = pd.read_csv("/content/cleaned_76hd.csv") # \\  / ###returns a dataframe

In [ ]:
# shape of table / dataframe (rows and columns)
print("Shape of df is", df.shape)
print("rows =",df.shape[0])
print("columns",df.shape[1])

Shape of df is (282, 46)
rows = 282
columns 46

In [ ]:
# print(df.head())
df.head() # sample rows (first 5 rows) are shown here

         V1        V3   V4   V8  ...       V55       V56      V57  V58
0  0.000000  0.708333  1.0  0.0  ...  0.035714  0.185185  0.97619  0.0
1  0.003367  0.791667  1.0  0.0  ...  0.035714  0.049383  0.97619  1.0
2  0.006734  0.791667  1.0  0.0  ...  0.035714  0.234568  0.97619  1.0
3  0.010101  0.166667  1.0  0.0  ...  0.035714  0.037037  0.97619  0.0
4  0.016835  0.250000  0.0  0.0  ...  0.035714  0.209877  0.97619  0.0

[5 rows x 46 columns]

In [ ]:
df.tail()

           V1        V3   V4   V8        V9  ...  V54       V55       V56  V57  V58
277  0.986532  0.208333  0.0  0.0  0.015504  ...  0.0  0.142857  0.098765  1.0  0.0
278  0.989899  0.583333  1.0  0.0  0.007752  ...  0.0  0.178571  0.049383  1.0  1.0
279  0.993266  0.604167  0.0  0.0  0.023256  ...  0.0  0.071429  0.345679  1.0  0.0
280  0.996633  0.583333  1.0  0.0  0.023256  ...  0.0  0.142857  0.037037  1.0  1.0
281  1.000000  0.375000  1.0  0.0  0.015504  ...  0.0  0.142857  0.283951  1.0  0.0

[5 rows x 46 columns]

In [ ]:
df.columns

Index(['V1', 'V3', 'V4', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15',
       'V16', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26',
       'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36',
       'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V50', 'V51',
       'V54', 'V55', 'V56', 'V57', 'V58'],
      dtype='object')

In [ ]:
df.dtypes

V1     float64
V3     float64
V4     float64
V8     float64
V9     float64
V10    float64
V11    float64
V12    float64
V13    float64
V14    float64
V15    float64
V16    float64
V18    float64
V19    float64
V20    float64
V21    float64
V22    float64
V23    float64
V24    float64
V25    float64
V26    float64
V27    float64
V28    float64
V29    float64
V30    float64
V31    float64
V32    float64
V33    float64
V34    float64
V35    float64
V36    float64
V37    float64
V38    float64
V39    float64
V40    float64
V41    float64
V42    float64
V43    float64
V44    float64
V50    float64
V51    float64
V54    float64
V55    float64
V56    float64
V57    float64
V58    float64
dtype: object

In [ ]:
#select column based on name
one = df['V3'] # Series object :: it means a single dim array
two = df[['V3']] # Dataframe :: means it is a table
# print(one)
print(type(one),type(two))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [ ]:
df[['V58','V3']] # similar to a view in databases

     V58        V3
0    0.0  0.708333
1    1.0  0.791667
2    1.0  0.791667
3    0.0  0.166667
4    0.0  0.250000
..   ...       ...
277  0.0  0.208333
278  1.0  0.583333
279  0.0  0.604167
280  1.0  0.583333
281  0.0  0.375000

[282 rows x 2 columns]

In [ ]:
print(df.iloc.__doc__) # two times underscore

Purely integer-location based indexing for selection by position.

``.iloc[]`` is primarily integer position based (from ``0`` to
``length-1`` of the axis), but may also be used with a boolean
array.

Allowed inputs are:

- An integer, e.g. ``5``.
- A list or array of integers, e.g. ``[4, 3, 0]``.
- A slice object with ints, e.g. ``1:7``.
- A boolean array.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above).
  This is useful in method chains, when you don't have a reference to the
  calling object, but would like to base your selection on some value.

``.iloc`` will raise ``IndexError`` if a requested indexer is
out-of-bounds, except *slice* indexers which allow out-of-bounds
indexing (this conforms with python/numpy *slice* semantics).

See more at :ref:`Selection by Position <indexing.integer>`.

See Also
--------
DataFrame.iat : Fast integer location scalar accessor.
DataFrame.loc : Purely label-location based indexer for selection by label.
Series.iloc : Purely integer-location based indexing for
               selection by position.

Examples
--------
>>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
>>> df = pd.DataFrame(mydict)
>>> df
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

**Indexing just the rows**

With a scalar integer.

>>> type(df.iloc[0])
<class 'pandas.core.series.Series'>
>>> df.iloc[0]
a    1
b    2
c    3
d    4
Name: 0, dtype: int64

With a list of integers.

>>> df.iloc[[0]]
   a  b  c  d
0  1  2  3  4
>>> type(df.iloc[[0]])
<class 'pandas.core.frame.DataFrame'>

>>> df.iloc[[0, 1]]
     a    b    c    d
0    1    2    3    4
1  100  200  300  400

With a `slice` object.

>>> df.iloc[:3]
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

With a boolean mask the same length as the index.

>>> df.iloc[[True, False, True]]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

With a callable, useful in method chains. The `x` passed
to the ``lambda`` is the DataFrame being sliced. This selects
the rows whose index label even.

>>> df.iloc[lambda x: x.index % 2 == 0]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

**Indexing both axes**

You can mix the indexer types for the index and columns. Use ``:`` to
select the entire axis.

With scalar integers.

>>> df.iloc[0, 1]
2

With lists of integers.

>>> df.iloc[[0, 2], [1, 3]]
      b     d
0     2     4
2  2000  4000

With `slice` objects.

>>> df.iloc[1:3, 0:3]
      a     b     c
1   100   200   300
2  1000  2000  3000

With a boolean array whose length matches the columns.

>>> df.iloc[:, [True, False, True, False]]
      a     c
0     1     3
1   100   300
2  1000  3000

With a callable function that expects the Series or DataFrame.

>>> df.iloc[:, lambda df: [0, 2]]
      a     c
0     1     3
1   100   300
2  1000  3000

# iloc

In [ ]:
#how to slice the dataframe
df.iloc[150:161,12:15] # select based on Index
# here end is excluded

     V18       V19       V20
150  1.0  0.000000  0.363636
151  1.0  0.181818  0.000000
152  0.0  0.181818  0.500000
153  0.0  0.181818  0.000000
154  1.0  0.181818  0.500000
155  1.0  0.181818  0.000000
156  0.0  0.000000  0.454545
157  1.0  0.181818  0.500000
158  1.0  0.181818  0.454545
159  0.0  0.000000  0.000000
160  0.0  0.000000  0.045455

In [ ]:
#select row and column based on index
df.iloc[100:103,7:10]

          V12  V13      V14
100  0.305936  0.0  0.10101
101  0.127854  0.0  0.20202
102  0.404110  0.0  0.00000

In [ ]:
df.iloc[100:103,100:1000]

Empty DataFrame
Columns: []
Index: [100, 101, 102]

In [ ]:
df.iloc[[10,20,30],:] #df.loc[[10,20,30],:]

          V1        V3   V4   V8  ...       V55       V56      V57  V58
10  0.037037  0.583333  1.0  0.0  ...  0.214286  0.000000  0.97619  0.0
20  0.070707  0.729167  1.0  0.0  ...  0.178571  0.271605  0.97619  0.0
30  0.104377  0.833333  0.0  0.0  ...  0.178571  0.000000  0.97619  0.0

[3 rows x 46 columns]

In [ ]:
df.iloc[[10,20,30]] #df.loc[[10,20,30]]

          V1        V3   V4   V8  ...       V55       V56      V57  V58
10  0.037037  0.583333  1.0  0.0  ...  0.214286  0.000000  0.97619  0.0
20  0.070707  0.729167  1.0  0.0  ...  0.178571  0.271605  0.97619  0.0
30  0.104377  0.833333  0.0  0.0  ...  0.178571  0.000000  0.97619  0.0

[3 rows x 46 columns]

In [ ]:
#select columns based on index 
df.iloc[:,7:9]

          V12  V13
0    0.244292  0.0
1    0.365297  0.0
2    0.235160  0.0
3    0.283105  0.0
4    0.178082  0.0
..        ...  ...
277  0.214612  0.0
278  0.242009  0.0
279  0.162100  0.0
280  0.477169  0.0
281  0.289954  0.0

[282 rows x 2 columns]

In [ ]:
#Error if we try to select a particular column which is out of bounds
df.iloc[150:156,[50,51]]

IndexError: ignored

In [ ]:
#NO Error if we try to select column/row range out of bounds
df.iloc[150:156,50:55]

Empty DataFrame
Columns: []
Index: [150, 151, 152, 153, 154, 155]

In [ ]:
df.iloc[0:5,0:2] # index of rows and columns start from 0

         V1        V3
0  0.000000  0.708333
1  0.003367  0.791667
2  0.006734  0.791667
3  0.010101  0.166667
4  0.016835  0.250000

# loc

In [ ]:
# Label based indexing
# print(df.loc[0:10,['V10','V8']])
# df.loc[150:155,['V9','V3','V1']]
# df1 = df.loc[150:155,['V9','V3','V1']]
df.loc[150:155,['V1','V3']]
# df1.head()

           V1        V3
150  0.552189  0.479167
151  0.555556  0.270833
152  0.558923  0.791667
153  0.562290  0.541667
154  0.565657  0.729167
155  0.569024  0.854167

# Central Tendencies of Columns

In [ ]:
df['V58'].mode()

0    0.0
dtype: float64

In [ ]:
df.mode()#df.mode(axis=0)

    V1        V3   V4   V8        V9  ...  V54  V55       V56      V57  V58
0  0.0  0.520833  1.0  0.0  0.023256  ...  0.0  0.0  0.246914  0.97619  0.0
1  NaN  0.604167  NaN  NaN       NaN  ...  NaN  NaN       NaN      NaN  NaN

[2 rows x 46 columns]

In [ ]:
df['V3'].value_counts() # To count how many time a value occurs in a column

0.604167    16
0.520833    16
0.583333    14
0.625000    13
0.479167    13
0.458333    12
0.645833    12
0.687500    11
0.312500    10
0.729167    10
0.250000     9
0.562500     9
0.500000     8
0.750000     8
0.291667     8
0.270833     8
0.791667     8
0.708333     7
0.770833     7
0.666667     7
0.395833     7
0.354167     7
0.333333     7
0.437500     7
0.541667     6
0.416667     5
0.375000     5
0.208333     4
0.854167     4
0.125000     3
0.833333     3
0.229167     3
0.875000     3
0.812500     3
0.166667     2
0.104167     2
0.000000     1
1.000000     1
0.937500     1
0.979167     1
0.187500     1
Name: V3, dtype: int64

In [ ]:
df.mean()#df.mean(axis=0)

V1     0.506794
V3     0.529403
V4     0.677305
V9     0.026609
V10    0.649595
V11    0.011157
V12    0.280927
V14    0.168243
V15    0.273641
V16    0.148936
V18    0.609929
V19    0.097357
V20    0.250000
V21    0.184441
V22    0.969436
V23    0.031915
V24    0.333333
V25    0.244681
V26    0.099291
V27    0.124113
V28    0.010062
V29    0.500403
V30    0.247281
V31    0.048274
V32    0.595095
V33    0.239669
V34    0.563159
V35    0.510434
V37    0.763959
V38    0.322695
V39    0.020292
V40    0.167181
V41    0.287234
V43    0.449225
V44    0.215130
V51    0.406028
V55    0.198961
V56    0.188162
V57    0.966101
V58    0.453901
dtype: float64

In [ ]:
print(df.V10.mean())# df['V10'].mean()

0.64959549520653

In [ ]:
df.V10

0      0.723618
1      0.798995
2      0.597990
3      0.648241
4      0.648241
         ...
277    0.688442
278    0.768844
279    0.648241
280    0.547739
281    0.648241
Name: V10, Length: 282, dtype: float64

In [ ]:
df.V10.sort_values() #V4

54     0.000000
93     0.000000
92     0.000000
131    0.467337
222    0.467337
         ...
83     0.899497
231    0.899497
201    0.899497
188    0.959799
126    1.000000
Name: V10, Length: 282, dtype: float64

In [ ]:
df.V4.sort_values(ascending=False)

281    1.0
104    1.0
120    1.0
119    1.0
118    1.0
      ...
93     0.0
94     0.0
213    0.0
97     0.0
81     0.0
Name: V4, Length: 282, dtype: float64

In [ ]:
df.sort_values(['V3','V4'],inplace=True)

In [ ]:
df.head()

           V1        V3   V4        V9  ...       V55       V56       V57  V58
132  0.478114  0.000000  1.0  0.007752  ...  0.250000  0.185185  0.976190  0.0
225  0.811448  0.104167  0.0  0.007752  ...  0.392857  0.061728  0.988095  0.0
101  0.356902  0.104167  1.0  0.000000  ...  0.142857  0.197531  0.976190  0.0
117  0.424242  0.125000  0.0  0.023256  ...  0.178571  0.358025  0.976190  0.0
138  0.498316  0.125000  1.0  0.023256  ...  0.250000  0.135802  0.976190  1.0

[5 rows x 40 columns]

In [ ]:
df.to_csv("check_round_off.csv")

In [ ]:
sorted(df.V10)

[0.0,
 0.0,
 0.0,
 0.4673366834170854,
 0.4673366834170854,
 0.4974874371859296,
 0.4974874371859296,
 0.4974874371859296,
 0.4974874371859296,
 0.5025125628140703,
 0.507537688442211,
 0.507537688442211,
 0.5175879396984925,
 0.5226130653266331,
 0.5226130653266331,
 0.5226130653266331,
 0.5276381909547738,
 0.5376884422110553,
 0.5376884422110553,
 0.5376884422110553,
 0.5376884422110553,
 0.5376884422110553,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5477386934673367,
 0.5577889447236181,
 0.5577889447236181,
 0.5577889447236181,
 0.5577889447236181,
 0.5577889447236181,
 0.5577889447236181,
 0.5577889447236181,
 0.5577889447236181,
 0.5577889447236181,
 0.5728643216080402,
 0.5728643216080402,
 0.5728643216080402,
 0.5829145728643216,
 0.5879396984924623,
 0.5879396984924623,
 0.5879396984924623,
 0.5879396984924623,
 0.5879396984924623,
 0.5879396984924623,
 0.5879396984924623,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.5979899497487438,
 0.6080402010050251,
 0.6080402010050251,
 0.6080402010050251,
 0.6130653266331658,
 0.6180904522613065,
 0.6180904522613065,
 0.6180904522613065,
 0.6180904522613065,
 0.6180904522613065,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6231155778894473,
 0.6281407035175879,
 0.6281407035175879,
 0.6281407035175879,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6381909547738693,
 0.6432160804020101,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6482412060301508,
 0.6582914572864321,
 0.6582914572864321,
 0.6582914572864321,
 0.6582914572864321,
 0.6582914572864321,
 0.6582914572864321,
 0.6582914572864321,
 0.6683417085427136,
 0.6683417085427136,
 0.6683417085427136,
 0.6683417085427136,
 0.6683417085427136,
 0.6733668341708543,
 0.6733668341708543,
 0.6733668341708543,
 0.6733668341708543,
 0.6733668341708543,
 0.6733668341708543,
 0.6783919597989949,
 0.6783919597989949,
 0.6783919597989949,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6884422110552764,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.6984924623115578,
 0.7085427135678392,
 0.7085427135678392,
 0.7085427135678392,
 0.7185929648241206,
 0.7236180904522613,
 0.7236180904522613,
 0.7236180904522613,
 0.7236180904522613,
 0.7236180904522613,
 0.728643216080402,
 0.728643216080402,
 0.7386934673366834,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7487437185929648,
 0.7587939698492462,
 0.7587939698492462,
 0.7587939698492462,
 0.7587939698492462,
 0.7688442211055276,
 0.7738693467336684,
 0.7788944723618091,
 0.7889447236180904,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.7989949748743719,
 0.8241206030150754,
 0.8492462311557789,
 0.8492462311557789,
 0.8492462311557789,
 0.8592964824120602,
 0.8693467336683417,
 0.8894472361809045,
 0.8894472361809045,
 0.8994974874371859,
 0.8994974874371859,
 0.8994974874371859,
 0.9597989949748744,
 1.0]

In [ ]:
df.V55.median() # no rounding OFF # check df.median

0.2142857142857144

In [ ]:
df.median(axis=0)
# No rounding off in meadian actual values
# rounded values are only displayed here by jupyter
#new_df = pd.DataFrame(df.median(axis=0))
#new_df.to_csv("median_values.csv")

V1     0.506734
V3     0.541667
V4     1.000000
V9     0.015504
V10    0.648241
V11    0.003953
V12    0.269406
V14    0.101010
V15    0.277778
V16    0.000000
V18    1.000000
V19    0.181818
V20    0.272727
V21    0.172840
V22    0.976190
V23    0.000000
V24    0.000000
V25    0.000000
V26    0.000000
V27    0.000000
V28    0.000000
V29    0.507576
V30    0.200000
V31    0.037791
V32    0.625954
V33    0.226667
V34    0.567568
V35    0.519231
V37    0.772727
V38    0.000000
V39    0.000000
V40    0.129032
V41    0.500000
V43    0.435185
V44    0.000000
V51    0.000000
V55    0.214286
V56    0.172840
V57    0.976190
V58    0.000000
dtype: float64

In [ ]:
# Display median without rounding off
for col in df.columns:
  print("col=",col,"median=", df[col].median())

col= V1 median= 0.5067340067340069
col= V3 median= 0.5416666666666667
col= V4 median= 0.9999999999999998
col= V9 median= 0.015503875968992246
col= V10 median= 0.648241206030151
col= V11 median= 0.003952569169960474
col= V12 median= 0.2694063926940639
col= V14 median= 0.10101010101010104
col= V15 median= 0.2777777777777778
col= V16 median= 0.0
col= V18 median= 1.0
col= V19 median= 0.18181818181818185
col= V20 median= 0.2727272727272728
col= V21 median= 0.1728395061728395
col= V22 median= 0.9761904761904762
col= V23 median= 0.0
col= V24 median= 0.0
col= V25 median= 0.0
col= V26 median= 0.0
col= V27 median= 0.0
col= V28 median= 0.0
col= V29 median= 0.5075757575757576
col= V30 median= 0.2
col= V31 median= 0.037790697674418595
col= V32 median= 0.6259541984732826
col= V33 median= 0.22666666666666666
col= V34 median= 0.5675675675675675
col= V35 median= 0.5192307692307693
col= V37 median= 0.7727272727272727
col= V38 median= 0.0
col= V39 median= 0.0
col= V40 median= 0.12903225806451613
col= V41 median= 0.5
col= V43 median= 0.4351851851851851
col= V44 median= 0.0
col= V51 median= 0.0
col= V55 median= 0.2142857142857144
col= V56 median= 0.1728395061728395
col= V57 median= 0.9761904761904762
col= V58 median= 0.0

In [ ]:
df['V3'].median()

0.5416666666666667

# Masking

In [ ]:
df < 0.58 #vectorized operation

        V1     V3     V4    V9    V10  ...    V51   V55   V56    V57    V58
132   True   True  False  True  False  ...   True  True  True  False   True
225  False   True   True  True  False  ...   True  True  True  False   True
101   True   True  False  True  False  ...   True  True  True  False   True
117   True   True   True  True  False  ...   True  True  True  False   True
138   True   True  False  True  False  ...  False  True  True  False  False
..     ...    ...    ...   ...    ...  ...    ...   ...   ...    ...    ...
103   True  False   True  True   True  ...   True  True  True  False   True
42    True  False   True  True  False  ...   True  True  True  False   True
233  False  False   True  True  False  ...   True  True  True  False   True
257  False  False   True  True  False  ...   True  True  True  False   True
161  False  False  False  True  False  ...   True  True  True  False  False

[282 rows x 40 columns]

In [ ]:
df[df<0.58] # cells which satisfy condition are same, but other calls are NaN

           V1        V3   V4        V9  ...       V55       V56  V57  V58
132  0.478114  0.000000  NaN  0.007752  ...  0.250000  0.185185  NaN  0.0
225       NaN  0.104167  0.0  0.007752  ...  0.392857  0.061728  NaN  0.0
101  0.356902  0.104167  NaN  0.000000  ...  0.142857  0.197531  NaN  0.0
117  0.424242  0.125000  0.0  0.023256  ...  0.178571  0.358025  NaN  0.0
138  0.498316  0.125000  NaN  0.023256  ...  0.250000  0.135802  NaN  NaN
..        ...       ...  ...       ...  ...       ...       ...  ...  ...
103  0.367003       NaN  0.0  0.015504  ...  0.178571  0.358025  NaN  0.0
42   0.154882       NaN  0.0  0.007752  ...  0.392857  0.074074  NaN  0.0
233       NaN       NaN  0.0  0.007752  ...  0.357143  0.358025  NaN  0.0
257       NaN       NaN  0.0  0.015504  ...  0.035714  0.172840  NaN  0.0
161       NaN       NaN  NaN  0.023256  ...  0.035714  0.197531  NaN  NaN

[282 rows x 40 columns]

In [ ]:
df['V3']<0.58

0      False
1      False
2      False
3       True
4       True
       ...
277     True
278    False
279    False
280    False
281     True
Name: V3, Length: 282, dtype: bool

In [ ]:
#select rows based on condition
df[df['V44']<0.8]
# new_df = df[df['V3']<0.58]
# new_df.shape

           V1        V3   V4        V9  ...       V55       V56       V57  V58
132  0.478114  0.000000  1.0  0.007752  ...  0.250000  0.185185  0.976190  0.0
225  0.811448  0.104167  0.0  0.007752  ...  0.392857  0.061728  0.988095  0.0
101  0.356902  0.104167  1.0  0.000000  ...  0.142857  0.197531  0.976190  0.0
117  0.424242  0.125000  0.0  0.023256  ...  0.178571  0.358025  0.976190  0.0
138  0.498316  0.125000  1.0  0.023256  ...  0.250000  0.135802  0.976190  1.0
..        ...       ...  ...       ...  ...       ...       ...       ...  ...
273  0.973064  0.875000  0.0  0.023256  ...  0.107143  0.061728  1.000000  0.0
103  0.367003  0.875000  0.0  0.015504  ...  0.178571  0.358025  0.976190  0.0
42   0.154882  0.875000  0.0  0.007752  ...  0.392857  0.074074  0.964286  0.0
233  0.838384  0.937500  0.0  0.007752  ...  0.357143  0.358025  0.988095  0.0
257  0.919192  0.979167  0.0  0.015504  ...  0.035714  0.172840  1.000000  0.0

[264 rows x 40 columns]

In [ ]:
# df.iloc[df[df['V3']<0.58].index]
df.loc[df['V44']<0.8]

           V1        V3   V4        V9  ...       V55       V56       V57  V58
132  0.478114  0.000000  1.0  0.007752  ...  0.250000  0.185185  0.976190  0.0
225  0.811448  0.104167  0.0  0.007752  ...  0.392857  0.061728  0.988095  0.0
101  0.356902  0.104167  1.0  0.000000  ...  0.142857  0.197531  0.976190  0.0
117  0.424242  0.125000  0.0  0.023256  ...  0.178571  0.358025  0.976190  0.0
138  0.498316  0.125000  1.0  0.023256  ...  0.250000  0.135802  0.976190  1.0
..        ...       ...  ...       ...  ...       ...       ...       ...  ...
273  0.973064  0.875000  0.0  0.023256  ...  0.107143  0.061728  1.000000  0.0
103  0.367003  0.875000  0.0  0.015504  ...  0.178571  0.358025  0.976190  0.0
42   0.154882  0.875000  0.0  0.007752  ...  0.392857  0.074074  0.964286  0.0
233  0.838384  0.937500  0.0  0.007752  ...  0.357143  0.358025  0.988095  0.0
257  0.919192  0.979167  0.0  0.015504  ...  0.035714  0.172840  1.000000  0.0

[264 rows x 40 columns]

In [ ]:
df[df.V10 < df.V10.mean()]

           V1        V3   V4        V9  ...       V55       V56       V57  V58
132  0.478114  0.000000  1.0  0.007752  ...  0.250000  0.185185  0.976190  0.0
225  0.811448  0.104167  0.0  0.007752  ...  0.392857  0.061728  0.988095  0.0
101  0.356902  0.104167  1.0  0.000000  ...  0.142857  0.197531  0.976190  0.0
138  0.498316  0.125000  1.0  0.023256  ...  0.250000  0.135802  0.976190  1.0
168  0.616162  0.125000  1.0  0.023256  ...  0.321429  0.234568  0.976190  1.0
..        ...       ...  ...       ...  ...       ...       ...       ...  ...
155  0.569024  0.854167  1.0  0.023256  ...  0.000000  0.074074  0.988095  1.0
273  0.973064  0.875000  0.0  0.023256  ...  0.107143  0.061728  1.000000  0.0
103  0.367003  0.875000  0.0  0.015504  ...  0.178571  0.358025  0.976190  0.0
233  0.838384  0.937500  0.0  0.007752  ...  0.357143  0.358025  0.988095  0.0
161  0.592593  1.000000  1.0  0.023256  ...  0.035714  0.197531  0.988095  1.0

[159 rows x 40 columns]

In [ ]:
#Write code to select all 1.0 in 'V14' 
#and replace those values in 'V4' with 2.0

In [ ]:
df.loc[(df.V14>= 0.5) & (df.V14 <= 0.8) ,'V14'] #|

168    0.606061
220    0.505051
57     0.505051
13     0.505051
237    0.606061
78     0.505051
120    0.606061
99     0.606061
46     0.606061
166    0.505051
63     0.606061
64     0.606061
58     0.505051
38     0.606061
10     0.757576
146    0.707071
62     0.606061
43     0.505051
24     0.505051
0      0.505051
Name: V14, dtype: float64

In [ ]:
# How to select rows of one column based on condition
print(df.loc[:,['V10','V16']])
# replace values of V16 where V16 is 0 with 5
df.loc[df.V16==0,'V16']=5

print(df.loc[:,['V10','V16']])

          V10  V16
132  0.648241  0.0
225  0.587940  0.0
101  0.587940  0.0
117  0.688442  0.0
138  0.597990  0.0
..        ...  ...
103  0.547739  1.0
42   0.798995  0.0
233  0.597990  0.0
257  0.698492  0.0
161  0.623116  0.0

[282 rows x 2 columns]
          V10  V16
132  0.648241  5.0
225  0.587940  5.0
101  0.587940  5.0
117  0.688442  5.0
138  0.597990  5.0
..        ...  ...
103  0.547739  1.0
42   0.798995  5.0
233  0.597990  5.0
257  0.698492  5.0
161  0.623116  5.0

[282 rows x 2 columns]

In [ ]:
df.isnull().shape #isna() # True if NaN value else False

(282, 40)

In [ ]:
p = pd.Series([True, False,True])
p.any() # Like OR gate
# if any one value is TRUE then return True else false

True

In [ ]:
print(df.isnull().any(axis=0))

V1     False
V3     False
V4     False
V9     False
V10    False
V11    False
V12    False
V14    False
V15    False
V16    False
V18    False
V19    False
V20    False
V21    False
V22    False
V23    False
V24    False
V25    False
V26    False
V27    False
V28    False
V29    False
V30    False
V31    False
V32    False
V33    False
V34    False
V35    False
V37    False
V38    False
V39    False
V40    False
V41    False
V43    False
V44    False
V51    False
V55    False
V56    False
V57    False
V58    False
dtype: bool

In [ ]:
print(df.isnull().any(axis=1))# if row has a null value or not

132    False
225    False
101    False
117    False
138    False
       ...
103    False
42     False
233    False
257    False
161    False
Length: 282, dtype: bool

In [ ]:
p = pd.Series([True, False,True])
p.all() #like AND gate. if ALL are TRUE then TRUE else FALSE

False

In [ ]:
print(df.isnull().all())#isna

V1     False
V3     False
V4     False
V9     False
V10    False
V11    False
V12    False
V14    False
V15    False
V16    False
V18    False
V19    False
V20    False
V21    False
V22    False
V23    False
V24    False
V25    False
V26    False
V27    False
V28    False
V29    False
V30    False
V31    False
V32    False
V33    False
V34    False
V35    False
V37    False
V38    False
V39    False
V40    False
V41    False
V43    False
V44    False
V51    False
V55    False
V56    False
V57    False
V58    False
dtype: bool

In [ ]:
print(df.isnull().all(axis=1)) # Print if row has all null values

0      False
1      False
2      False
3      False
4      False
       ...
277    False
278    False
279    False
280    False
281    False
Length: 282, dtype: bool

In [ ]:
df.columns

Index(['V1', 'V3', 'V4', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15',
       'V16', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26',
       'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36',
       'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V50', 'V51',
       'V54', 'V55', 'V56', 'V57', 'V58'],
      dtype='object')

In [ ]:
# Print All columns where all values are NaN
print(df.columns[df.isnull().all()])

Index([], dtype='object')

# Drop Columns

In [ ]:
# df.drop function takes list of column names / list of row labels 
# to be dropped based on  axis =1 / 0
df.drop(['V4','V5'], axis =1)

# Drop columns based on condition

In [ ]:
drop_columns = df.columns[df.isnull().all()]
df.drop(drop_columns, inplace=True, axis=1)

In [ ]:
# Drop rows based on condition
print(df[df.V3 > 0.65].index)
df_new = df.drop(df[df.V3 > 0.65].index)
df_new.describe()

Int64Index([  0,   1,   2,   6,   8,  20,  27,  30,  32,  39,  40,  42,  44,
             48,  51,  70,  71,  72,  73,  75,  83,  90,  91,  92,  94, 103,
            108, 110, 114, 118, 119, 121, 124, 129, 136, 137, 143, 152, 154,
            155, 159, 161, 170, 173, 174, 185, 187, 189, 193, 194, 195, 196,
            201, 203, 209, 213, 218, 224, 227, 229, 233, 243, 245, 249, 252,
            256, 257, 258, 264, 270, 271, 273, 275, 276],
           dtype='int64')

,V1,V3,V4,V8,V9,V10,V11,V12,V13,V14,...,V42,V43,V44,V50,V51,V54,V55,V56,V57,V58
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.501198,0.448017,0.721154,0.004808,0.025231,0.641332,0.009881,0.268814,0.003205,0.186286,...,0.008401,0.447756,0.165064,0.995192,0.407452,0.009615,0.208104,0.181565,0.968292,0.423077
std,0.293166,0.145004,0.449514,0.069338,0.088552,0.107143,0.079011,0.102031,0.046225,0.201043,...,0.086362,0.181778,0.272161,0.069338,0.484199,0.092815,0.143626,0.120874,0.117212,0.495239
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.234848,0.333333,0.000000,0.000000,0.015504,0.597990,0.000000,0.191210,0.000000,0.000000,...,0.000000,0.339815,0.000000,1.000000,0.000000,0.000000,0.071429,0.086420,0.976190,0.000000
50%,0.503367,0.479167,1.000000,0.000000,0.015504,0.648241,0.003953,0.257991,0.000000,0.202020,...,0.000000,0.425926,0.000000,1.000000,0.000000,0.000000,0.214286,0.185185,0.976190,0.000000
75%,0.761785,0.583333,1.000000,0.000000,0.023256,0.698492,0.003953,0.336187,0.000000,0.303030,...,0.000000,0.555556,0.333333,1.000000,1.000000,0.000000,0.321429,0.259259,0.988095,1.000000
max,1.000000,0.645833,1.000000,1.000000,1.000000,1.000000,1.000000,0.646119,0.666667,0.808081,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# See the Basic Statistics of Data

In [ ]:
df.describe()

,V1,V3,V4,V8,V9,V10,V11,V12,V13,V14,...,V42,V43,V44,V50,V51,V54,V55,V56,V57,V58
count,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,...,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000,282.000000
mean,0.505839,0.529403,0.677305,0.003546,0.026609,0.649595,0.011157,0.280927,0.005910,0.168243,...,0.008623,0.449225,0.215130,0.996454,0.406028,0.007092,0.198961,0.182909,0.968803,0.453901
std,0.294583,0.188606,0.468338,0.059549,0.095857,0.111649,0.086691,0.116464,0.071452,0.196375,...,0.084486,0.179846,0.308403,0.059549,0.482375,0.079775,0.147317,0.128474,0.116353,0.498755
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.246633,0.395833,0.000000,0.000000,0.015504,0.597990,0.000000,0.196347,0.000000,0.000000,...,0.000000,0.334259,0.000000,1.000000,0.000000,0.000000,0.071429,0.086420,0.976190,0.000000
50%,0.506734,0.541667,1.000000,0.000000,0.015504,0.648241,0.003953,0.269406,0.000000,0.101010,...,0.000000,0.435185,0.000000,1.000000,0.000000,0.000000,0.214286,0.172840,0.976190,0.000000
75%,0.763468,0.666667,1.000000,0.000000,0.023256,0.698492,0.003953,0.344749,0.000000,0.303030,...,0.000000,0.555556,0.333333,1.000000,1.000000,0.000000,0.321429,0.259259,0.988095,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# See Basic Information of Data frame

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282 entries, 132 to 161
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      282 non-null    float64
 1   V3      282 non-null    float64
 2   V4      282 non-null    float64
 3   V9      282 non-null    float64
 4   V10     282 non-null    float64
 5   V11     282 non-null    float64
 6   V12     282 non-null    float64
 7   V14     282 non-null    float64
 8   V15     282 non-null    float64
 9   V16     282 non-null    float64
 10  V18     282 non-null    float64
 11  V19     282 non-null    float64
 12  V20     282 non-null    float64
 13  V21     282 non-null    float64
 14  V22     282 non-null    float64
 15  V23     282 non-null    float64
 16  V24     282 non-null    float64
 17  V25     282 non-null    float64
 18  V26     282 non-null    float64
 19  V27     282 non-null    float64
 20  V28     282 non-null    float64
 21  V29     282 non-null    float64
 22  V30     282 non-null    float64
 23  V31     282 non-null    float64
 24  V32     282 non-null    float64
 25  V33     282 non-null    float64
 26  V34     282 non-null    float64
 27  V35     282 non-null    float64
 28  V37     282 non-null    float64
 29  V38     282 non-null    float64
 30  V39     282 non-null    float64
 31  V40     282 non-null    float64
 32  V41     282 non-null    float64
 33  V43     282 non-null    float64
 34  V44     282 non-null    float64
 35  V51     282 non-null    float64
 36  V55     282 non-null    float64
 37  V56     282 non-null    float64
 38  V57     282 non-null    float64
 39  V58     282 non-null    float64
dtypes: float64(40)
memory usage: 90.3 KB

# Unique Values in Column

In [ ]:
df.V3.unique()

array([0.        , 0.10416667, 0.125     , 0.16666667, 0.1875    ,
       0.20833333, 0.22916667, 0.25      , 0.27083333, 0.29166667,
       0.3125    , 0.33333333, 0.35416667, 0.375     , 0.39583333,
       0.41666667, 0.4375    , 0.45833333, 0.47916667, 0.5       ,
       0.52083333, 0.54166667, 0.5625    , 0.58333333, 0.60416667,
       0.625     , 0.64583333, 0.66666667, 0.6875    , 0.70833333,
       0.72916667, 0.75      , 0.77083333, 0.79166667, 0.8125    ,
       0.83333333, 0.85416667, 0.875     , 0.9375    , 0.97916667,
       1.        ])

In [ ]:
df.V3.nunique()

41

# Find Unique Rows

In [ ]:
df.drop_duplicates()

           V1        V3   V4        V9  ...       V55       V56       V57  V58
132  0.478114  0.000000  1.0  0.007752  ...  0.250000  0.185185  0.976190  0.0
225  0.811448  0.104167  0.0  0.007752  ...  0.392857  0.061728  0.988095  0.0
101  0.356902  0.104167  1.0  0.000000  ...  0.142857  0.197531  0.976190  0.0
117  0.424242  0.125000  0.0  0.023256  ...  0.178571  0.358025  0.976190  0.0
138  0.498316  0.125000  1.0  0.023256  ...  0.250000  0.135802  0.976190  1.0
..        ...       ...  ...       ...  ...       ...       ...       ...  ...
103  0.367003  0.875000  0.0  0.015504  ...  0.178571  0.358025  0.976190  0.0
42   0.154882  0.875000  0.0  0.007752  ...  0.392857  0.074074  0.964286  0.0
233  0.838384  0.937500  0.0  0.007752  ...  0.357143  0.358025  0.988095  0.0
257  0.919192  0.979167  0.0  0.015504  ...  0.035714  0.172840  1.000000  0.0
161  0.592593  1.000000  1.0  0.023256  ...  0.035714  0.197531  0.988095  1.0

[282 rows x 40 columns]

In [ ]:
df.drop_duplicates().shape

(282, 46)

# Index column selection

In [ ]:
df_index = pd.read_csv("cleaned_76hd.csv",index_col = 'V1')#2)
df_index.head()

                V3   V4        V9       V10  ...       V55       V56       V57  V58
V1                                           ...
0.000000  0.708333  1.0  0.000000  0.723618  ...  0.035714  0.185185  0.964286  0.0
0.003367  0.791667  1.0  0.023256  0.798995  ...  0.035714  0.049383  0.964286  1.0
0.006734  0.791667  1.0  0.023256  0.597990  ...  0.035714  0.234568  0.964286  1.0
0.010101  0.166667  1.0  0.015504  0.648241  ...  0.035714  0.037037  0.964286  0.0
0.016835  0.250000  0.0  0.007752  0.648241  ...  0.035714  0.209877  0.964286  0.0

[5 rows x 39 columns]

In [ ]:
# Process columns with string categorical values
# Sol :: create a LabelEncoder object and fit it 
#to each feature in X

df_1 = pd.read_csv("DT_data.csv",index_col=0) #index_col=0
df_1.head()

   Outlook  Temp Humidity  Windy Play Golf
1    Rainy   Hot     High      0        No
2    Rainy   Hot     High      1        No
3  Ovecast   Hot     High      0       Yes
4    Sunny  Mild     High      0       Yes
5    Sunny  Cool   Normal      0       Yes

In [ ]:
#df_1 = df_1.drop(['Unnamed: 0'],axis=1)#,inplace=True)

In [ ]:
from sklearn import preprocessing

In [ ]:
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
print(df_1['Temp']) #pickle
#####
# ONLY FOR ORDINAL VARIABLE
####
le_temp = preprocessing.LabelEncoder()
le_temp = le_temp.fit(df_1['Temp'])
df_1['Temp'] = le_temp.transform(df_1['Temp'])
print(df_1['Temp'])
le_temp.inverse_transform(df_1['Temp'])

1      Hot
2      Hot
3      Hot
4     Mild
5     Cool
6     Cool
7     Cool
8     Mild
9     Cool
10    Mild
11    Mild
12    Mild
13     Hot
14    Mild
Name: Temp, dtype: object
1     1
2     1
3     1
4     2
5     0
6     0
7     0
8     2
9     0
10    2
11    2
12    2
13    1
14    2
Name: Temp, dtype: int32

array(['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild',
       'Cool', 'Mild', 'Mild', 'Mild', 'Hot', 'Mild'], dtype=object)

In [ ]:
# import preprocessing from sklearn
from sklearn import preprocessing
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()

# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
# This is ir-reversible transformation.
# 
df_2 = df_1.apply(le.fit_transform)

df_2.head()

   Unnamed: 0  Outlook  Temp  Humidity  Windy  Play Golf
0           0        1     1         0      0          0
1           1        1     1         0      1          0
2           2        0     1         0      0          1
3           3        2     2         0      0          1
4           4        2     0         1      0          1

In [ ]:
df_3 = pd.get_dummies(df_1[['Outlook','Play Golf']], prefix_sep="__",
                              columns=['Outlook','Play Golf'])#df_1.columns)
df_3.head()

,Outlook__Ovecast,Outlook__Rainy,Outlook__Sunny,Play Golf__No,Play Golf__Yes
1,0,1,0,1,0
2,0,1,0,1,0
3,1,0,0,0,1
4,0,0,1,0,1
5,0,0,1,0,1

In [ ]:
df_1.head()

   Outlook  Temp Humidity  Windy Play Golf
1    Rainy     1     High      0        No
2    Rainy     1     High      1        No
3  Ovecast     1     High      0       Yes
4    Sunny     2     High      0       Yes
5    Sunny     0   Normal      0       Yes

In [ ]:
# One hot encoding
# Steps: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(df_1.iloc[:,[0,4]])

# 3. Transform
onehotlabels = enc.transform(df_1.iloc[:,[0,4]]).toarray()
df_4 = pd.DataFrame(onehotlabels)
df_4.head()

     0    1    2    3    4
0  0.0  1.0  0.0  1.0  0.0
1  0.0  1.0  0.0  1.0  0.0
2  1.0  0.0  0.0  0.0  1.0
3  0.0  0.0  1.0  0.0  1.0
4  0.0  0.0  1.0  0.0  1.0